<section>
  <h1>Datenschutz</h1>
  <h2>Erfassung allgemeiner Informationen</h2>
  <p>Beim Zugriff auf diese Webseiten werden automatisch folgende Informationen (Server- LOGS)
    gespeichert: Die IP-Adresse Ihres Rechners, der Zeitpunkt des Zugriffs, die angefragte Seite auf der Webseite, die
    vorhergehende Webseite, das Betriebssystem des Rechners und der verwendete Internetbrowser. Die Erfassung dieser
    Daten ist technisch notwendig um die Inhalte dieser Webseite korrekt ausliefen zu können. Wir verwenden diese
    technischen Daten nur zur Verbesserung dieses Internetangebotes und wenn notwendig um Probleme auf dieser WebSite zu
    beseitigen.</p>
  <h2>E-Mail-Anfrage, Kontaktformular</h2>
  <p>Die Nutzung dieser Webseiten ist im Allgemeinen ohne Angaben von personenbezogenen Daten
    (z.B. Name, Vorname, E-Mail-Adresse oder Telefonnummer) ihrerseits möglich. Treten Sie dennoch mittels eines
    Kontaktformulars oder einer auf unseren Seiten angegebenen E-Mail-Adresse mit uns in Verbindung so geschieht dies
    auf freiwilliger Basis ihrerseits. Die von Ihnen gemachten Angaben werden nur zum Zwecke der Bearbeitung dieser
    Anfrage sowie weitergehender Anfragen gespeichert. Wir werden diese Daten vertraulich behandeln und ohne Ihre
    persönliche Zustimmung nicht an Dritte weitergeben.</p>
  <h2>Löschung von Daten</h2>
  <p>Wir halten uns an die Grundsätze der Datensparsamkeit und der Datenvermeidung. Aus diesem
    Grund speichern wir personenbezogene Daten nur so lange, wie dies zur Erreichung der gesetzlichen, geschäftlichen
    oder sicherheitstechnischen Aspekte erforderlich ist. Nach Entfall des jeweiligen Zweckes werden diese Daten
    gelöscht.</p>
  <h2>Recht auf Auskunft, Berichtigung, oder Löschung</h2>
  <p>Ihnen steht das Recht zu jederzeit Auskunft über die bei uns von ihnen gespeicherten
    persönlichen Daten zu erhalten. Des Weiteren steht Ihnen, abgesehen von gesetzlichen Vorschriften, das Recht auf
    Berichtigung, Sperrung oder Löschung ihrer personenbezogen Daten zu.</p>
  <h2>Änderungen dieser Datenschutzbestimmungen</h2>
  <p>Wir behalten uns das Recht vor, diese Datenschutzbestimmungen jederzeit den aktuellen
    gesetzlichen Anforderungen anzupassen oder Änderungen/Ergänzungen bei der Einführung neuer Services durchzuführen.
    Für Ihren erneuten Besuch gelten dann diese geänderten Datenschutzbestimmungen.</p>
</section>
