:host {

  background-color: var(--color-brand);

  ul {
    display: flex;
    gap: 1ch;

    li a {

      min-width: 150px;
      padding: .5rem 1rem;

      color: white;
      border: 1px solid var(--color-gold);
      border-radius: 0.125rem;

      display: flex;
      gap: 1ch;
      align-items: center;
      justify-content: center;

      background-color: transparent;
      transition: background-color 200ms ease-in-out, color 200ms ease-in-out;

      cursor: pointer;

      &:hover,
      &:focus-visible {
        background-color: oklch(from var(--color-brand) calc(l - 0.15) c h / 80%);
        color: var(--color-gold);
      }

      &.active-link {
        background-color: oklch(from var(--color-brand) calc(l - 0.15) c h / 80%);
        color: #dcdcdc;
        cursor: default;
      }

    }
  }

}
