
@font-face {
  font-family: "WrexhamScript";
  src:
    url("./WREXHAM.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./WREXHAM.woff") format("woff"), /* Modern Browsers */
    url("./WREXHAM.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
