


<section class="intro">

  <h1>
    <div class="logo-svg"></div>
    <span class="work">Bestattungen</span>
    <span class="name">Duda</span>
  </h1>

  <q class="quote">
    Das kostbarste Vermächtnis eines Menschen
    <br>
    ist die Spur,
    <br
    >die seine Liebe
    <br>
    in unseren Herzen hinterlässt
  </q>

  <address>
    Donaustraße 9
    <br>
    67583 Guntersblum
  </address>

  <div class="phone-number-container">
    Tag und Nacht telefonisch erreichbar
    <br>
    <app-svg-icon type="phone"></app-svg-icon>
    <a href="tel:+4962498450">06249 - 8450</a>
  </div>

</section>

<!-- +++++++++++++++++++++++++++++++++++++++++++ -->

<section class="services">

  <h2>Wir unterstützen Sie:</h2>

  <ul class="list">
    <li>Bei dem Finden der richtigen Bestattungsmöglichkeit</li>
    <li>Bei der Organisierung der Trauerfeier</li>
    <li>Bei der Bewältigung der Formalitäten</li>
  </ul>

  <div>Fragen Sie uns für mehr Informationen</div>

</section>

<!-- +++++++++++++++++++++++++++++++++++++++++++ -->

<section class="gallery">

  <app-carousel [images]="[
    {
      src: 'public/img/dia/beerdigung_1.jpg',
      alt: 'Beerdigung in Guntersblum',
      width: 720,
      height: 480
    },
    {
      src: 'public/img/dia/sarg_1.jpg',
      alt: 'Sarg 1',
      width: 720,
      height: 480
    },
  ]"></app-carousel>

</section>

<!-- +++++++++++++++++++++++++++++++++++++++++++ -->

<section class="contact">

  <h2>So finden Sie uns:</h2>

  <address>
    Andrea Duda
    <br>
    Donaustraße 9
    <br>
    67583 Guntersblum
  </address>

  <div>
    Für das Schicksal gelten keine Betriebszeiten.
    <br>
    Deshalb zur jeder Zeit für Sie erreichbar:
  </div>

  <p>
    Telefon: <a href="tel:+4962498450">06249 - 8450</a>
    <br>
    Fax: 06249 - 8757
    <br>
    E-Mail: <a href="mailto:bestattungen-duda@online.de">bestattungen-duda@online.de</a>
  </p>

</section>

