:host {

  display: flex;
  flex-direction: column;

  container-type: inline-size;
  container-name: app-start;

  ::ng-deep svg {
    fill: white;
  }

  ul, ol {
    padding-left: 1em;

    max-width: 32ch;

    list-style-type: disc;
    white-space: normal;
    line-break: strict;
    word-wrap: break-word;
    hyphens: auto;
  }

  --logo-height: clamp(28px, 12vw, 6rem);

  section {
    width: 100%;
    min-height: 100vh;
    background-position: center;

    padding-top: 10ch;
    padding-right: var(--page-padding);
    padding-bottom: 10ch;
    padding-left: var(--page-padding);

    background-size: cover;

    display: flex;
    flex-direction: column;

    align-items: center;

    & > * {
      max-width: var(--page-width);
    }

    & > :where(h2, p) {
      text-align: center;
    }

    .weight {
      font-weight: bold;
    }
  }

  .intro {

    display: flex;
    flex-direction: column;
    gap: 10ch;
    padding: 10ch 0;

    background-image: url('../../../../public/img/bck/candle.jpg');
    --map-zoom: 2.6;

    @container app-start (width <= 500px) {
      --map-zoom: 2;
    }
    @container app-start (width <= 420px) {
      --map-zoom: 1.5;
    }
    @container app-start (width <= 360px) {
      --map-zoom: 1;
    }

    h1 {
      display: flex;

      line-height: 1.2;
      align-items: center;
      text-shadow: 3px 3px 9px #7b6620;

      font-size: var(--logo-height);
      font-family: WrexhamScript, ChopinScript, serif;

      ::ng-deep .logo-svg {
        width: fit-content;
        height: var(--logo-height);
      }

      .big {
        display: flex;
      }
      .normal {
        display: none;

        ::ng-deep .logo-svg {
          zoom: 125%;
        }
        .name {
          font-size: 1.25em;
        }
      }
      .small { display: none; }

      .flex {
        display: flex;
        align-items: center;
      }



      @container app-start (width <= 928px) {
        .big { display: none; }
        .normal { display: block; }
        .small { display: none; }
      }

      @container app-start (width <= 520px) {
        .big { display: none; }
        .normal { display: none; }
        .small {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        ::ng-deep .logo-svg {
          width: fit-content;
          height: calc(2 * var(--logo-height));
        }
      }

    }

    q {
      display: block;
      font-size: calc(0.5 * var(--logo-height));

      align-items: center;
      text-align: center;
    }

    .address-container {
      font-size: calc(0.42 * var(--logo-height));
      display: flex;
      gap: 1ch;
      align-items: center;

      app-svg-icon {
        zoom: var(--map-zoom);
        display: flex;
      }

    }

    .phone-number-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1ch;

      font-size: calc(0.5 * var(--logo-height));

      text-align: center;
      text-wrap-style: pretty;

      .row-2 {
        display: flex;
        align-items: center;
        gap: .5ch;
        app-svg-icon {
          zoom: var(--map-zoom);
          display: flex;
        }
      }
    }

  }

  .services {
    background-image: url('../../../../public/img/bck/hand-shake.jpg');

    min-height: 50vh; // overriding 100vh

    display: flex;
    flex-direction: column;
    gap: 10ch;
    justify-content: space-around;

    h2 {
      font-size: calc(0.55 * var(--logo-height));
    }

    ul {
      font-size: calc(0.45 * var(--logo-height));

      max-width: 32ch;

      display: flex;
      flex-direction: column;
      gap: 2ch;

    }

    p {
      font-size: calc(0.45 * var(--logo-height));
    }

  }

  .new-variations {
    background-image: url('../../../../public/img/bck/forest_river.jpg');
    padding-top: 10ch;
    padding-bottom: 10ch;
    gap: 4ch;

    h2 {
      font-size: calc(0.55 * var(--logo-height));
    }

    ul {
      font-size: calc(0.45 * var(--logo-height));

      max-width: 32ch;

      display: flex;
      flex-direction: column;
      gap: 2ch;

    }

    p {
      font-size: calc(0.45 * var(--logo-height));
    }

  }

  .gallery {
    background-image: url('../../../../public/img/bck/memories.jpg');
    padding-top: 20ch;
    padding-bottom: 20ch;
  }

  .contact {
    background-image: url('../../../../public/img/bck/map.jpg');
    padding-top: 15ch;
    padding-bottom: 15ch;

    gap: 4ch;

    h2 {
      font-size: calc(0.55 * var(--logo-height));
    }

    address {
      font-size: calc(0.45 * var(--logo-height));
    }

    .reason {
      font-size: calc(0.45 * var(--logo-height));
    }

    .contact-data {
      font-size: calc(0.45 * var(--logo-height));
    }

  }

}
