:host {

  display: flex;
  flex-direction: column;

  container-type: inline-size;
  container-name: app-start;

  color: white;

  ::ng-deep svg {
    fill: white;
  }

  section {
    width: 100%;
    padding: var(--page-padding);
    background-size: cover;

    display: flex;
    flex-direction: column;

    align-items: center;

    & > * {
      max-width: var(--page-width);
    }
  }

  .intro {

    background-image: url('../../../../public/img/bck/candle.jpg');

    h1 {
      display: grid;
      grid-template-columns: 200px min-content min-content;
      column-gap: 1ch;

      font-size: 3rem;

      @container app-start (width <= 720px) {

        grid-template-columns: 200px min-content;

        /* svg */
        & > *:nth-child(1) {
          order: 2;
        }

        /* Bestattungen */
        & > *:nth-child(2) {
          grid-column: 1 / 3;
          order: 1;
        }

        /* Duda */
        & > *:nth-child(3) {
          order: 3;
          font-size: 1.5em;
        }


      }



    }

  }

  .services {
    background-image: url('../../../../public/img/bck/hand-shake.jpg');
  }

  .gallery {
    background-image: url('../../../../public/img/bck/memories.jpg');
  }

  .contact {
    background-image: url('../../../../public/img/bck/map.jpg');
  }

}
