:host {

  display: flex;
  flex-direction: column;
  gap: 1ch;

  container-type: inline-size;
  container-name: app-start;

  .intro {

    h1 {
      display: grid;
      grid-template-columns: 200px min-content min-content;
      column-gap: 1ch;

      font-size: 3rem;

      @container app-start (width <= 720px) {

        grid-template-columns: 200px min-content;

        /* svg */
        & > *:nth-child(1) {
          order: 2;
        }

        /* Bestattungen */
        & > *:nth-child(2) {
          grid-column: 1 / 3;
          order: 1;
        }

        /* Duda */
        & > *:nth-child(3) {
          order: 3;
          font-size: 1.5em;
        }


      }



    }

  }

}
