:host {

  display: flex;
  flex-direction: column;

  container-type: inline-size;
  container-name: app-start;

  color: white;

  ::ng-deep svg {
    fill: white;
  }

  --logo-height: clamp(28px, 12vw, 5rem);

  section {
    width: 100%;

    padding-top: 10ch;
    padding-right: var(--page-padding);
    padding-bottom: 10ch;
    padding-left: var(--page-padding);

    background-size: cover;

    display: flex;
    flex-direction: column;

    align-items: center;

    & > * {
      max-width: var(--page-width);
    }
  }

  .intro {

    display: flex;
    flex-direction: column;
    gap: 10ch;
    padding: 10ch 0;

    background-image: url('../../../../public/img/bck/candle.jpg');
    --logo-height: clamp(28px, 12vw, 5rem);
    --map-zoom: 2.6;

    @container app-start (width <= 500px) {
      --map-zoom: 2;
    }
    @container app-start (width <= 420px) {
      --map-zoom: 1.5;
    }
    @container app-start (width <= 360px) {
      --map-zoom: 1;
    }

    h1 {
      display: flex;

      line-height: 1.2;
      align-items: center;
      text-shadow: 3px 3px 9px #7b6620;

      font-size: var(--logo-height);
      font-family: WrexhamScript, ChopinScript, serif;

      .big {
        display: flex;
      }
      .normal { display: none; }
      .small { display: none; }

      .flex {
        display: flex;
      }

      ::ng-deep .logo-svg {
        width: fit-content;
        height: var(--logo-height);
      }

      @container app-start (width <= 815px) {
        .big { display: none; }
        .normal { display: block; }
        .small { display: none; }
      }

      @container app-start (width <= 640px) {
        .big { display: none; }
        .normal { display: none; }
        .small {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        ::ng-deep .logo-svg {
          width: fit-content;
          height: calc(2 * var(--logo-height));
        }
      }

    }

    q {
      display: block;
      font-size: calc(0.55 * var(--logo-height));

      align-items: center;
      text-align: center;
    }

    .address-container {
      font-size: calc(0.45 * var(--logo-height));
      display: flex;
      gap: 1ch;
      align-items: center;

      app-svg-icon {
        zoom: var(--map-zoom);
        display: flex;
      }

    }

    .phone-number-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1ch;

      font-size: calc(0.55 * var(--logo-height));

      text-align: center;
      text-wrap-style: pretty;

      .row-2 {
        display: flex;
        align-items: center;
        gap: .5ch;
        app-svg-icon {
          zoom: var(--map-zoom);
          display: flex;
        }
      }
    }

  }

  .services {
    background-image: url('../../../../public/img/bck/hand-shake.jpg');

  }

  .gallery {
    background-image: url('../../../../public/img/bck/memories.jpg');
    padding-top: 20ch;
    padding-bottom: 20ch;
  }

  .contact {
    background-image: url('../../../../public/img/bck/map.jpg');
    padding: 15ch 0;
  }

}
