

:host {

  --that-max-height: 480px;

  container-name: --app-carousel;
  container-type: inline-size;
  display: flex;
  width: 100%;

  scroll-behavior: smooth;

  .carousel-container {

    @container --app-carousel (width <= 680px) {
      --that-max-height: 440px;
    }

    @container --app-carousel (width <= 640px) {
      --that-max-height: 400px;
    }

    @container --app-carousel (width <= 600px) {
      --that-max-height: 360px;
    }

    @container --app-carousel (width <= 540px) {
      --that-max-height: 320px;
    }

    width: 100%;
    position: relative;

    .carousel-slides {
      display: flex;;
      width: 100%;
      height: 100%;
      overflow-x: auto;

      scroll-snap-type: x mandatory;

      .carousel-slide {

        width: 100cqw;
        min-width:  100cqw;
        max-width:  100cqw;

        scroll-snap-align: start;

        img {
          width: 100cqw;
          min-width:  100cqw;
          max-width:  100cqw;

          object-fit: contain;

          height: var(--that-max-height);
        }

        background-color: black;
        display: flex;
        justify-content: center;

      }

      // scroll-bar styling
      .carousel-slides {
        scrollbar-width: thin;
        scrollbar-color: #4a90e2 #f1f1f1;

        &::-webkit-scrollbar {
            width: 12px;
            height: 12px;
        }

        &::-webkit-scrollbar-track {
            background: #f1f1f1;
            border-radius: 6px;
            margin: 2px;
        }

        &::-webkit-scrollbar-thumb {
            background: #4a90e2;
            border-radius: 6px;
            border: 2px solid #f1f1f1;
        }

        &::-webkit-scrollbar-thumb:hover {
            background: #357abd;
            border-color: #e0e0e0;
        }

      }

    }

    .slide-button {

      --size: clamp(16px, 16vw, 60px);
      width: var(--size);
      height: var(--size);

      position: absolute;
      top: calc(50% - (var(--size) / 2));
      border-radius: 50%;
      background-color: transparent;

      &.prev-slide-button {
        left: 5px;
      }

      &.next-slide-button {
        right: 5px;
      }

    }

  }

}



