

:host {

  --that-max-height: 480px;

  container-name: --app-carousel;
  container-type: inline-size;
  display: flex;
  width: 100%;

  scroll-behavior: smooth;
  scrollbar-color: rgb(105, 105, 105) rgb(37, 0, 0);
  scrollbar-width: thin;

  .carousel-container {

    @container --app-carousel (width <= 680px) {
      --that-max-height: 440px;
    }

    @container --app-carousel (width <= 640px) {
      --that-max-height: 400px;
    }

    @container --app-carousel (width <= 600px) {
      --that-max-height: 360px;
    }

    @container --app-carousel (width <= 540px) {
      --that-max-height: 320px;
    }

    width: 100%;
    position: relative;

    .carousel-slides {
      display: flex;;
      width: 100%;
      height: 100%;
      overflow-x: auto;

      scroll-snap-type: x mandatory;

      .carousel-slide {

        width: 100cqw;
        min-width:  100cqw;
        max-width:  100cqw;

        scroll-snap-align: start;

        img {
          width: 100cqw;
          min-width:  100cqw;
          max-width:  100cqw;

          object-fit: contain;

          height: var(--that-max-height);
        }

        background-color: black;
        display: flex;
        justify-content: center;

      }

    }

    .slide-button {

      --norm-color: black;
      --stroke-color: rgba(255, 255, 255, 0.4);
      --stroke-hover-color: rgba(255, 255, 255, 0.8);

      --size: clamp(16px, 16vw, 60px);
      width: var(--size);
      height: var(--size);

      position: absolute;
      top: calc(50% - (var(--size) / 2));

      background-color: transparent;

      color: var(--norm-color);
      -webkit-text-stroke: 0.12rem var(--stroke-color);
      text-stroke: 0.12rem var(--stroke-color);

      border: 0.1rem solid var(--stroke-color);
      border-radius: 50%;
      cursor: pointer;

      &:hover, &:focus-visible {
        --stroke-color: var(--stroke-hover-color);
        background-color: rgba(255, 255, 255, 0.45);
      }

      &.prev-slide-button {
        left: 5px;
      }

      &.next-slide-button {
        right: 5px;
      }

    }

  }

}



