

:host {

  --that-max-height: 480px;

  container-name: --app-carousel;
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  width: 100%;

  scrollbar-color: rgb(105, 105, 105) rgb(37, 0, 0);
  scrollbar-width: thin;

  .carousel-container {

    @container --app-carousel (width <= 680px) {
      --that-max-height: 440px;
    }

    @container --app-carousel (width <= 640px) {
      --that-max-height: 400px;
    }

    @container --app-carousel (width <= 600px) {
      --that-max-height: 360px;
    }

    @container --app-carousel (width <= 540px) {
      --that-max-height: 320px;
    }

    width: 100cqw;
    position: relative;

    .carousel-slides {
      display: flex;;
      width: inherit;
      height: 100%;
      overflow-x: hidden;

      pointer-events: none;

      scroll-snap-type: x mandatory;
      scroll-behavior: smooth;

      .carousel-slide {

        --tmp: 100cqw;
        --w: var(--tmp);

        width: var(--w);
        min-width:  var(--w);
        max-width:  var(--w);

        scroll-snap-align: start;

        img {
          width: var(--w);
          min-width: var(--w);
          max-width: var(--w);

          object-fit: contain;

          height: var(--that-max-height);
        }

        background-color: black;
        display: flex;
        justify-content: center;

      }

      &.manual-scrolling {
        pointer-events: unset;
        overflow-x: auto;
      }

    }

    .slide-button {

      --norm-color: black;
      --stroke-color: rgba(255, 255, 255, 0.4);
      --stroke-hover-color: rgba(255, 255, 255, 0.8);

      --size: clamp(16px, 16vw, 60px);
      width: var(--size);
      height: var(--size);

      position: absolute;
      top: calc(50% - (var(--size) / 2));

      background-color: transparent;

      color: var(--norm-color);
      -webkit-text-stroke: 0.12rem var(--stroke-color);
      text-stroke: 0.12rem var(--stroke-color);

      border: 0.1rem solid var(--stroke-color);
      border-radius: 50%;
      cursor: pointer;

      &:hover, &:focus-visible {
        --stroke-color: var(--stroke-hover-color);
        background-color: rgba(255, 255, 255, 0.45);
      }

      &.prev-slide-button {
        left: 5px;
      }

      &.next-slide-button {
        right: 5px;
      }

      @media (pointer: coarse) {
        display: none;
      }

    }

  }

  .quick-jump-container {

    width: 100cqi;

    padding: 1.5ch;
    display: flex;
    gap: 1.5ch;
    flex-wrap: wrap;
    justify-content: center;

    .quick-jump-button {

      width: 2rem;
      height: 2rem;
      border: 2px solid white;
      border-radius: 50%;
      background-color: rgb(54, 54, 54);
      cursor: pointer;

      &:not(.active):hover, &:not(.actives):focus-visible {
        background-color: rgb(92, 92, 92);
        border-color: rgb(204, 204, 204);
      }

      &.active {
        background-color: rgb(31, 31, 31);
        border-color: var(--color-gold);
        cursor: default;
      }

    }

  }

}



