/* You can add global styles to this file, and also import other style files */
@import '../public/fonts/font.css';

:root {
  --color-brand: #790b0b;
  --color-text: #fff8f8;
  --color-gold: #d3a21a;

  --page-width: 960px;
  --page-padding: 1ch;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.2;
  color: var(--color-text);
}

ul, ol {
  list-style-type: none;
}

a, .link-alike {
  color: var(--color-gold);
  transition: color 200ms ease-in-out;
  cursor: pointer;
  &:hover, &:focus-visible {
    color: oklab(from var(--color-gold) calc(l + 0.1) a b)
  }
}

img.icon {
  background-color: transparent;
}

button.icon-button {
  border: 0;
  background-color: transparent;
}

address {
  font-style: normal;
}
